@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$theme-colors: (
    "primary" : #407BFF
);

$body-bg: #E5E5E5;
$body-color: #263238;

body{
    margin: 0;
}