.btn-style{
    font-family: inherit;
    width: 101px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    border: none;
    color: #FFF;
    display: block;
    cursor: pointer;
}