.card-form {
    background: #E6F7FF;
    padding-top: 65px;
    padding-left: 95px;
    font-size: 38px;
    line-height: 46px;
    color: #262626; 
}

.input-user-style{
    margin-top: 15px;
    width: 675px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    color: inherit;
    display: block;
}

.btn-user-change{
    margin-top: 25px;
    margin-bottom: 40px;
}