.main-nav{
    background: #1890FF;
    padding: 15px 0 15px 40px;
    & * {
        font-family: 'Roboto', sans-serif;
      }
}

.nav-decoration{
    text-decoration: none;
    margin-bottom: 0;
}

.nav-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #FFF;
}